<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Ascii Art Web Project practice</h1>
        <form action="/ascii-art" method="POST">
            <textarea name="input" class="inputField" placeholder="Type something..." cols="30" rows="10">{{.Input}}</textarea>
            <br>
            <label for="banners">
                <h3>Choose a banner file!</h3>
                <input type="radio" name="banner" value="shadow"> Shadow
                <input type="radio" name="banner" value="standard" checked> Standard
                <input type="radio" name="banner" value="thinkertoy"> Thinkertoy
            </label>
            <br>
            <div class="btn">
                <button type="submit" class="btng">Generate Ascii</button> 
                <button type="reset" class="btnr">Reset Input</button>
            </div>
           <br>
            <p>Ascii Art Characters will be displayed here!</p>
            <pre>{{.Result}}</pre>
        </form>
        <footer class="footer">
            Built with love ❤️ using GoLang HTML CSS
        </footer>
    </div>
</body>
</html>