<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ascii Art Web Golang Html!</h1>
    <form action="/ascii-art" method="post">
        <h3>Ascii Art Generator Website</h3>
        <textarea name="text"></textarea>
        <input type="radio" name="banner" value="shadow"> shadow
        <input type="radio" name="banner" value="standard"> standard
        <input type="radio" name="banner" value="thinkertoy"> thinkertoy
        <button type="submit">Gen Art</button>
    </form>
</body>
</html>